<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>começo</title>
</head>
<body>
  <div class="barra">
    <lu>
      <li><a>home</a></li>
    </lu>
  </div>
<style>
  .barra {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
}
a{
  color: white;
  position: fixed;
  text-decoration: none;
  font-size: large;
}
</style>
</body>
</html>