{% extends 'base.html' %}

{% load pagination %}
{% load static %}
{% block title %}
    {{ current_category }} | {{ block.super }}
{% endblock %}

{% block container %}
<div class="page-header">
    <h1>{{current_category}}</h1>
</div>
<div class="row">
    {% for product in product_list %}
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
            <a href="{{ product.get_absolute_url }}">
                <img src="{% static 'placeholder.png' %}" alt="" />
            </a>
            <div class="caption">
                <h3>{{ product }}</h3>
                <p><a href="{{ product.get_absolute_url }}" class="btn btn-success" role="button">Detalhes</a> <a href="{% url 'checkout:create_cartitem' product.slug %}" class="btn btn-default" role="button">Adicionar ao Carrinho</a> Y${{product.price}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% pagination request paginator page_obj %}

{% endblock %}
